::-ms-reveal {
    display: none;
}

:root {
    --color-primary: #7deccf;
}

a {
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.display-picture {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}

.cropper-container {
    overflow: auto;
}

.cropper-crop-box {
    min-width: 225px;
    min-height: 225px;
}

.cropper-view-box,
.cropper-face,
.cropper-line,
.cropper-point {
     border-radius: 50%;
}

.cropper-view-box {
    box-shadow: 0 0 0 1px var(--color-primary);
    outline: 0;
}
